# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# FVM Version Cache
.fvm/
.idea
dist/
.flutter-plugins-dependencies
melos_*.iml
# 忽略生成文件
*.g.dart
*.mapper.dart
global.config.dart
objectbox-model.json